@import "colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Maple Mono NF";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

#window {
    font-weight: bold;
    font-family: "Maple Mono NF";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: @color1;
    border-top: 2px solid @color1;
}

#mode {
    background: @color2; 
    border-bottom: 3px solid @color1;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}


#tray {
}
